{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
	<div class="example-wrapper">
	    {{ form_start(form, {'attr': {class: 'col-md-6', 'novalidate': 'novalidate'}}) }}
		<h3>Create short url:</h3>

		{% for message in app.flashes('error') %}
		    <div class="alert alert-danger" role="alert">
		        {{ message }}
		    </div>
		{% endfor %}
		
		{{ form_widget(form) }}
		{{ form_end(form) }}
	</div>
{% endblock %}